<div class="add-asset" style="float:right">

  <%= link_to 'Add User',"#",:class=>"btn addUser" %>
</div>
<div class="listing">
  <table class="table-striped">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th width="40"></th>
    </tr>
    </thead>
    <tbody>
   <%= render @users %>
   </tbody>
  </table>
</div>
<div id="editUserModal" style="display:none">
</div>
<% if current_user.is_admin? || current_user.is_super_admin? %>
  <%= render :partial=>'form',:locals=>{:user=>@user} %>
<% end %>

