<div class="alert alert-block">
  <a class="close">×</a>
  <h4 class="alert-heading"><%= pluralize(object.errors.count, "error") %>:</h4>
  <div class="alert-message">
  <% object.errors.full_messages.each do |msg| %>
    <%= msg %><br /><br />
  <% end %>
  </div>
</div>

